<.header>
  <h3 class="text-center text-2xl mb-3">Mail Page</h3>
</.header>
<div class="grid grid-cols-3 gap-2 w-full place-items-stretch">
  <div>
    <StreamHandlerWeb.DashboardComponents.slugs_card slugs={@slugs} />
  </div>
</div>