@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Styles from Contex for Charts */

.exc-tick {
    stroke: rgb(40, 39, 39);
  }
  
  .exc-tick text {
    fill: rgb(32, 31, 31);
    stroke: none;
  }
  
  .exc-grid {
    stroke: rgb(31, 31, 31);
  }
  
  .exc-legend {
    stroke: black;
  }
  
  .exc-legend text {
    fill: rgb(20, 20, 20);
    font-size: 0.8rem;
    stroke: none;
  }
  
  .exc-title {
    fill: darkslategray;
    font-size: 1.0rem;
    stroke: none;
  }
  .exc-subtitle {
    fill: darkgrey;
    font-size: 0.5rem;
    stroke: none;
  }
  
  .exc-domain {
    stroke:  rgb(207, 207, 207);
  }
  
  .exc-barlabel-in {
    fill: white;
    font-size: 0.7rem;
  }
  
  .exc-barlabel-out {
    fill: grey;
    font-size: 0.7rem;
  }